@*
* This template takes a single argument, a String containing a
* message to display.
*@
@()
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("MojiPic") {　
    <nav class="light-blue lighten-4" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">
                <img src="@routes.Assets.versioned("images/logo.png")" alt="logo icon">
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a class="light-blue-text text-darken-3" href="/login">Twitterでログイン</a>
                    @* <a class="light-blue-text text-darken-3" href="/login">Twitterでログアウト</a>*@
                </li>
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li>
                    <a href="/login">Twitterでログイン</a>   @* <a href="/login">Twitterでログアウト</a>*@
                </li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
        </div>
    </nav>

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h3 class="header center blue-text">画像をドラッグ＆ドロップ</h3>
            <div class="row center">
                <h5 class="header col s12 light">ドロップエリアにjpg画像かpng画像をドロップしてください</h5>
            </div>
            <div class="row center">
                <div class="input-field col s12">
                    <input class="validate" type="text" id="overlaytext-shown" name="overlaytext-shown" maxlength="5" value="LGTM">
                    <label class="active" for="overlaytext-shown">文字サイズ(pt)</label>
                </div>
            </div>
            <div class="row center">
                <div class="col s12 blue z-depth-5">
                    <h2 class="blue-text text-lighten-5">ドロップエリア</h2>
                </div>
            </div>
            <br><br>
        </div>
    </div>

    <div class="divider"></div>

    <div class="container">
        <h3 class="header center blue-text">画像一覧</h3>
        <div id="picture-grid" class="row center"></div>
    </div>

    <footer class="page-footer light-blue lighten-5">
        <div class="footer-copyright">
            <div class="container">
                <a class="light-blue-text text-darken-3" href="http://www1.hst.titech.ac.jp/club/micon/index.html">
                    いや、もう卒業したんですけどね…
                </a>
            </div>
        </div>
    </footer>
}
